In [1]:
import pandas as pd
from gensim import models
import numpy as np
import gensim
import gensim.downloader
from tqdm import tqdm
import time
import os

## Dataset

In [2]:
df_sentences = pd.read_csv('data/stanfordSentimentTreebank/datasetSentences.txt', header=0, delimiter='\t', index_col=0)
df_labels = pd.read_csv('data/stanfordSentimentTreebank/datasetSplit.txt', header=0, delimiter=',', index_col='sentence_index')

In [3]:
df = pd.concat([df_labels, df_sentences], axis=1)
df = df.sample(frac=1).reset_index(drop=True)
df

       splitset_label                                           sentence
0                   1      Suffers from a flat script and a low budget .
1                   2  Sluggishly directed by episodic TV veteran Joe...
2                   1                                  It is n't scary .
3                   1                It 's a quirky , off-beat project .
4                   1  It 's clear that Mehta simply wanted to update...
...               ...                                                ...
11850               1  Although the sequel has all the outward elemen...
11851               1  As spent screen series go , Star Trek : Nemesi...
11852               1  For a guy who has waited three years with brea...
11853               1  What -LRB- Denis -RRB- accomplishes in his chi...
11854               1  There are a few chuckles , but not a single ga...

[11855 rows x 2 columns]

In [4]:
source_folder = 'data/sentiment_treebank'
os.makedirs(source_folder, exist_ok=True)

In [5]:
df.to_csv(source_folder + '/' + 'data.csv', index=False)